node_modules/
.vscode
.idea
.qodo
dist
build
coverage
*.log
.history
.meteor/local

.DS_Store
Thumbs.db

.yarn/*
!.yarn/releases/

jsconfig.json
settings.json
*.sublime-project

__tests__/.cache
__tests__/coverage
__tests__/reports