@import '/imports/theme/theme.less';

.statusItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: calc(@main-margin / 2);
  padding: calc(@main-margin / 3);

  svg {
    width: 24px;
    height: 24px;
  }
}