@import '/imports/theme/theme.less';

.layout {
  justify-content: space-between;
  min-height: 100vh;
  
  .header {
    height: @header-height;
  }

  .content {
    height: calc(100% - @header-height - @footer-height);
  }

  .footer {
    height: @footer-height;
  }
}
