@import '/imports/theme/theme.less';

.lH {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    column-gap: @main-margin;

    svg {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  h2 {
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5em;
  }

  .lHA {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: calc(@main-margin / 3);

    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        cursor: pointer;
      }

      &::after {
        content: "";
        position: absolute;
        right: 4px;
        bottom: 4px;
        width: 6px;
        height: 6px;
        border-radius: 50%;        
        border: 1px solid #fff;
        background-color: @color-dungerous;
      }

      &.success {
        &::after {
          background-color: @color-success;
        }
      }
    }
  }
}
