@import '/imports/theme/theme.less';

.layoutHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;  
    column-gap: @main-margin;

    svg {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  h2 {
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5em;
  }
}